{% extends 'seller/base.html' %}
{% block title %}Add Product{% endblock %}

{% block content %}
<div class="card" style="max-width:700px;margin:auto;">
    <h2>Add Product</h2>

    <form hx-post="{% url 'sellers:add_product' %}"
          hx-target="#response"
          hx-swap="innerHTML">
        {% csrf_token %}
        <input name="name" placeholder="Product Name" required>
        <input name="category" placeholder="Category" required>
        <input name="price" placeholder="Price" required>
        <input name="desc_price" placeholder="Discount Price">
        <input name="stock" placeholder="Stock" required>
        <textarea name="descp" placeholder="Description"></textarea>

        <label>
            <input type="checkbox" name="is_activate" value="true" checked>
            Active
        </label>

        <button>Add Product</button>
    </form>

    <div id="response"></div>
</div>
{% endblock %}
