{% extends 'seller/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="card" style="max-width:520px;margin:auto;">
    <h2>Seller Registration</h2>

    <form hx-post="{% url 'sellers:register_seller' %}"
          hx-target="#response"
          hx-swap="innerHTML">
        {% csrf_token %}
        <input name="username" placeholder="Username" required>
        <input name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input name="store_name" placeholder="Store Name">
        <input name="gst_num" placeholder="GST Number">
        <button>Create Account</button>
    </form>

    <div id="response"></div>
</div>
{% endblock %}
